@font-face {
    font-family: "regular";
    src: url(./assets/fonts/Raleway-Regular.ttf);
}

@font-face {
    font-family: "bold";
    src: url(./assets/fonts/Raleway-Bold.ttf);
}

@font-face {
    font-family: "italic";
    src: url(./assets/fonts/Raleway-Italic.ttf);
}