html {
  font-size: 16px;
}

body {
  margin: 0;
}

@font-face {
  font-family: "regular";
  src: url(./assets/fonts/Urbanist-Regular.ttf);
}

@font-face {
  font-family: "bold";
  src: url(./assets/fonts/Urbanist-Bold.ttf);
}
